*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width:1070px) {
    .col-lg-1{
        width:108px;
        float:left;
    }
    .col-lg-2{
        width: 216px;
        float:left;
    }
    .col-lg-3{
        width:324px;
        float:left;
    }
    .col-lg-4{
        width:432px;
        float:left;
    }
    .col-lg-5{
        width:540px;
        float:left;
    }
    .col-lg-6{
        width:640px;
        float:left;
    }
    .col-lg-7{
        width:756px;
        float:left;
    }
    .col-lg-8{
        width:864px;
        float:left;
    }
    .col-lg-9{
        width:972px;
        float:left;
    }
    .col-lg-10{
        width:1080px;
        float:left;
    }
    .container{
        width: 1080px;
        margin: 0 auto;
        background-color: #fff;
    }


    .clear{
        clear: both;
    }
    .main-header{
        background-color: rgb(29, 27, 27);
       
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 50;
    }
    .a{
        border: 2px dotted black;
        border-radius: 5px;
        
    }
    .logo{
        margin-top: 5px;
        height: 70px;
        width: 70px;
        margin-left: 15px;
        background-color: rgb(29, 27, 27);
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .main-header .col-lg-2{
        background-color: rgb(29, 27, 27);
    }
    .nav a{
        
               display: inline-block;
               padding: 20px;
               line-height: 30px;
               text-decoration: none;
               color: white;
               font-size: 20px;
               
        
    }
    .nav{
        /* margin-left: 100px; */
        float: right;
        background-color: rgb(29, 27, 27);
        height: 100%;
        
    }
    .nav span{
        float: right;
        margin-right: 20px;
    }
    input{
        all:unset;
        border: 2px solid black;
        background-color: #fff;
        width: 200px;
        border-radius: 30px;
        right: 0;
        height: 25px;

        

        
    }
    .banner{
        height: 600px;
        
        width: 100%;
        /* margin-top:10px; */
        
        position: relative;
    }
    .banner video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        /* border-radius: 10px; */
        /* filter :drop-shadow(0 0 0.5vw rgb(26, 25, 25)) ; */
        
       
    }
    .row3 div{
        height: 300px;
         background-color: #e6e64725;
         background-color: rgb(194, 191, 191);
         border: 1px solid rgb(240, 204, 210);
         border-radius: 15px;
         text-align: center;
         color: black;

         margin-top: 1rem;

    }
    .add{
        height: 100px;
        

    }
    .add img{
        height: 100%;
        width: 383px;
        border-radius: 15px;
    
    }
    .content{
        
        
        margin-top: 20px;
    }
    .text{
        
    }
    .img-container{
        display:flex;
        /* justify-content: center; */
        align-items: center;
        padding:60px;
        font-size: 90px;
        color: #fff;
    }
    .news{
        height: 800px;
        background-color: #fff;
    }
    .news-section{
        height: 150px;
        width: 100%;
        background-color: #fff;
        display:flex;
        flex-direction:column;
        padding:20px;
        gap:20px;
    }
     .highlight{
        display:flex;
     }
    .news-section-2{
        display:flex;
        flex-direction:column;
        gap:30px;
        padding:30px;
    }
    .item{
        display:flex;
        /* padding:30px; */
        gap:20px;
    }
    .news-container{
        display:flex;
        flex-direction: column;
        gap:20px;
        justify-content: center;
    }
    button:hover{
        background-color: black;
        color:white;
    }
    .head span{
        color: #fff;
        text-align: center;
        margin:20px 25px 7px 10px;
        padding: 2px;

        
    }
    button{
        cursor: pointer;
    }
    .news-img{
        height: 266px;
        width: 474px;
    }
    .news-img img{
        height: 266px;
        width: 400px;
    }
    
    
}
@media screen and (max-width:450px){
    .container{
        width: 450px;
        height: auto;
        min-height: 450px;
        margin: 0 auto;
        background-color: aqua;
        
    }
    .col-mb-1{
        width: 45px;
        float: left;
    }
    .col-mb-2{
        width: 90px;
        float: left;
    }
    .col-mb-3{
        width: 135px;
        float: left;
    }
    .col-mb-4{
        width: 180px;
        float: left;
    }
    .col-mb-5{
        width: 225px;
        float: left;
    }
    .col-mb-6{
        width: 270px;
        float: left;
    }
    .col-mb-7{
        width: 315px;
        float: left;
    }
    .col-mb-8{
        width: 360px;
        float: left;
    }
    .col-mb-9{
        width: 405px;
        float: left;
    }
    .col-mb-10{
        width: 450px;
        float: left;
    }
    .logo{
        height: 180px;
    }
    .logo img{
        height: 100%;
        margin: 10px;
    }
    
    .clear{
        clear: both;
    }
    .main-header{
        background-color: rgb(29, 27, 27);
       
        /* height: 80px; */
        position: fixed;
        top: 0;
        z-index: 50;
    }
    .a{
        border: 2px dotted black;
        border-radius: 5px;
        
    }
    
    .main-header .col-lg-2{
        background-color: rgb(29, 27, 27);
    }
    .nav a{
        
               display: inline-block;
               padding: 10px;
               line-height: 30px;
               text-decoration: none;
               color: white;
               font-size: 20px;
               
        
    }
    .nav{
        /* margin-left: 100px; */
        float: right;
        background-color: rgb(29, 27, 27);
        height: 100%;
        
        
    }
    .nav span{
        float: right;
        margin-right: 20px;
    }
    input{
        all:unset;
        border: 2px solid black;
        background-color: #fff;
        width: 200px;
        border-radius: 30px;
        right: 0;
        height: 25px;

        

        
    }
    .banner{
        height: 600px;
        
        width: 100%;
        /* margin-top:10px; */
        
        position: relative;
    }
    .banner video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        /* border-radius: 10px; */
        /* filter :drop-shadow(0 0 0.5vw rgb(26, 25, 25)) ; */
        
       
    }
    .row3 div{
        height: 300px;
         background-color: #e6e64725;
         background-color: rgb(194, 191, 191);
         border: 1px solid rgb(240, 204, 210);
         border-radius: 15px;
         text-align: center;
         color: black;

         margin-top: 1rem;

    }
    .add{
        height: 100px;
        

    }
    .add img{
        height: 100%;
        width: 383px;
        border-radius: 15px;
    
    }
    .content{
        
        
        margin-top: 20px;
    }
    .text{
        
    }
    .img-container{
        display:flex;
        /* justify-content: center; */
        align-items: center;
        padding:60px;
        font-size: 90px;
        color: #fff;
    }
    .news{
        height: 800px;
        background-color: #fff;
    }
    .news-section{
        height: 150px;
        width: 100%;
        background-color: #fff;
        display:flex;
        flex-direction:column;
        padding:20px;
        gap:20px;
    }
     .highlight{
        display:flex;
     }
    .news-section-2{
        display:flex;
        flex-direction:column;
        gap:30px;
        padding:30px;
    }
    .item{
        display:flex;
        /* padding:30px; */
        gap:20px;
    }
    .news-container{
        display:flex;
        flex-direction: column;
        gap:20px;
        justify-content: center;
    }
    button:hover{
        background-color: black;
        color:white;
    }
    .head span{
        color: #fff;
        text-align: center;
        margin:20px 25px 7px 10px;
        padding: 2px;

        
    }
    button{
        cursor: pointer;
    }
    .news-img{
        height: 266px;
        width: 474px;
    }
    .news-img img{
        height: 266px;
        width: 400px;
    }
    
    


}